body, html {
    scroll-behavior: smooth;
    min-width: 1100px;
}
/* header, main {min-width:1200px;} */
/* header */
header {
    /* background: #f2f2f2; */
    width:100%;
    display: flex;
    flex-flow: row-reverse;
    padding-top: 35px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}
header .nav {
    margin-right: 100px;
    border:1px solid #000;
    border-radius: 50px;
    padding:10px;
}
header .nav a {
    display: inline-block;
    font-size: 1.563rem;
    font-weight: 500;
    letter-spacing: -0.02em;
    padding:10px 20px;
    margin-right: 10px;
}
header .nav a:last-child {margin-right: 0;}
header .nav a:hover {
    color: #fff;
    background: #9361FF;
    border-radius: 50px;
}
/* main */
main {width: 100%;}
/* 공통 적용 css */
main section {
    /* height:100vh; */
    height: 1024px;
}
main .web,
main .design {
    background: url(../images/bg_all.png);
    width: 100%;
    /* height: 100vh; */
    height: 1024px;
}
/* home */
main #home {
    background: url(../images/main_01.png);
    /* height: 100vh; */
    height: 1024px;
    /* border-bottom: 1px solid #c7c7c7; */
}
main #home h1 {
    width: 100%;
}
/* main #home h1 img {width: 100%;} */
/* main #home::before {
    content: '';
    width: 1px;
    background: #c7c7c7;
    height:1024px;
    display: inline-block;
    margin:0 240px;
} */
/* profile */
main #profile {
    background: url(../images/bg_profile.png);
    width: 100%;
    /* height: 100vh; */
    height: 1024px;
}
main #profile .container {
    position: relative;
    display: flex;
    /* max-width: 1440px; */
    margin:0 auto;
    padding-left: 260px;
}
main #profile .container .left {margin-right:130px;}
main #profile .container .left .info {padding-top: 287px;}
main #profile .container .left .info > * {letter-spacing: -0.02em;}
main #profile .container .left .info p {font-size: 1.313rem; line-height: 40px;}
main #profile .container .left .info p em {font-size:1.875rem;}
main #profile .container .left .info p span {
    font-size: 1.313rem;
    text-decoration: underline;
    text-decoration-color: #9361FF;
    text-decoration-style: wavy;
}
main #profile .container .left .info h2 {
    margin: 65px 0 15px;
    font-size: 2.813rem;
    font-weight: 700;
}
main #profile .container .left .info h3 {
    font-size: 1.75rem;
}
main #profile .container .left .info .info_btm {
    position:absolute;
    bottom:0;
}
main #profile .container .left .info .info_btm p {}
main #profile .container .left .info .info_btm p img {margin-top:15px;}
main #profile .container .right {
    display: flex;
    flex-flow: column nowrap;
    /* padding-top: 130px; */
    width: 45%;
}
main #profile .container .right .career {padding-top: 130px;}
main #profile .container .right .career > p,
main #profile .container .right .skill > p {
    font-size: 1.688rem;
    font-weight:500;
    margin-bottom:40px;
}
main #profile .container .right .career .career_box {
    display: flex;
    white-space:nowrap;
    margin-bottom: 100px;
    margin-left: 25px;
}
main #profile .container .right .career .career_box div p {margin-bottom: 40px;}
main #profile .container .right .career .career_box .left {margin-right: 15px;}
main #profile .container .right .career .career_box .left p {font-size: 1.438rem;}
main #profile .container .right .career .career_box .right {}
main #profile .container .right .career .career_box .right p {font-size: 1.438rem;}
main #profile .container .right .career .career_box .right p em {font-size:1.125rem;}
main #profile .container .right .skill {}
main #profile .container .right .skill p {}
main #profile .container .right .skill .skill_box {
    display: flex; flex-flow: row wrap;
    width: 610px;
    margin-left: 25px;
}
main #profile .container .right .skill .skill_box span {
    margin-right:50px;
    padding-bottom: 50px;
}
/* main #profile .container .right .skill .skill_box > p:nth-child(1) {
    font-size: 2.8rem;
    font-weight: 700;
    border: 1px solid #000;
    border-radius: 15px;
    padding:15px;
} */
main #profile .container .right .skill .skill_box span img {}
/* project_web1 */
main .web {}
main .web .web_container {
    padding-left: 260px;
    display: flex;
    white-space: nowrap;
    /* position: relative; */
}
main .web .web_container .left {z-index: 1;}
main .web .web_container .left h1 {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
    padding-top: 200px;
}
main .web .web_container .left .link {margin-bottom: 140px;}
main .web .web_container .left .link a {
    font-size: 1.438rem;
    letter-spacing: -0.02em;
    color:#fff;
    padding:20px;
    display: inline-block;
    background: #000;
    border-radius: 10px;
}
main .web .web_container .left .link a:nth-child(1) {}
main .web .web_container .left .link a:nth-child(2) {margin:0 15px;}
main .web .web_container .left .link a:nth-child(3) {}
main .web .web_container .left .link a:hover {
    background: #9361FF;
}
main .web .web_container .left .txt {}
main .web .web_container .left .txt span {
    font-size: 1.813rem;
    font-weight: 700;
    margin-right: 15px;
}
main .web .web_container .left .txt p {
    font-size: 1.813rem;
    letter-spacing: -0.02em;
    line-height: 66px;
}
main .web .web_container .right {
    position: relative;
    top: 370px;
    /* position: absolute; */
    /* width: 860px; */
    /* padding-top: 20%; */
    /* right: 40px; */
    /* top: 300px; */
    /* width: 60%; */
    /* right: -2%; */
}
main .web .web_container .right img {width: 100%;}
/* project_web2 */
main #project_web2 {}
main #project_web2 .web_container {}
main #project_web2 .web_container .left {}
main #project_web2 .web_container .left h1 {}
main #project_web2 .web_container .left .link {}
main #project_web2 .web_container .left .link a {}
main #project_web2 .web_container .left .txt {}
main #project_web2 .web_container .left .txt p {}
main #project_web2 .web_container .right {
}
main #project_web2 .web_container .right img {}
/* project_web3 */
main #project_web3 {}
main #project_web3 .web_container .right {
    width: 700px;
    right: 100px;
    /* padding-right: 70px; */
}
main #project_web3 .web_container .right img {width: 100%;}

/* popup */
#popup_view {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 999;
}
#popup_view .contents {
    /* width: 80%; */
    width: 850px;
    height: 850px;
    overflow-y: auto; /* 이미지 넘칠 때 스크롤 표시 */
    margin:80px auto 0;
}
#popup_view .contents img {width: 100%;}
/* project_design1 */
main .design {
    padding-left: 260px;
}
main .design h1 {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    padding-top: 200px;
    margin-bottom: 85px;
}
main .design .container {
    display: flex;
    padding-left: 30px;
    /* transition: all 0.5s; */
}
main .design .container .banner {
    width: 50%;
}
main .design .container .banner a {
    margin-bottom: 40px;
    display: block;
}
main .design .container .banner img {
    width:100%;
    height: 211px;
}
main .design .container .insta {
    /* width: 620px; */
    width: 45%;
}
main .design .container .insta a {
    padding-left: 30px;
    width: 250px;
    display: inline-block;
    margin-bottom: 22px;
}
main .design .container .insta a img {
    width: 100%;
}

/* main .design .container div img:hover {
    transform: scale(1.2);
} */
/* project_design2 */
main #project_design2 {}
main #project_design2 h1 {}
main #project_design2 .container {}
main #project_design2 .container .img {
    position: relative;
    width: 300px;
    height: 622px;
    margin-right: 30px;
}
main #project_design2 .container .img01 {
    background: url(../images/book_prototype.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
main #project_design2 .container .img02 {
    background: url(../images/detail_01.jpg) no-repeat;
    background-size: cover;
}
main #project_design2 .container .img03 {
    background: url(../images/detail_02.jpg) no-repeat;
    background-size: cover;
}
main #project_design2 .container .img04 {
    background: url(../images/landing_001.png) no-repeat;
    background-size: cover;
}
/* main #project_design2 .container .img05 {
    background: #d9d9d9;
    margin-right: 0;
    text-align: center;
    padding-top: 300px
} */
main #project_design2 .container .img .overlay {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-flow: column nowrap;
    /* justify-content: center; */
    padding-top: 70%;
    align-items: center;
}
main #project_design2 .container .img .overlay p {
    text-align: center;
    white-space: nowrap;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
}
main #project_design2 .container .img .overlay a {
    display: block;
    color: #fff;
    background: #000;
    padding:10px 20px;
    border-radius: 10px;
    font-size:0.9rem;
    margin-bottom: 15px;
}
main #project_design2 .container .img .overlay a:hover {
    background: #9361FF;
}
main #project_design2 .container .img:hover .overlay {
    opacity: 1;
}



/* main .design2 .container a {
    width: 250px;
    height: 622px;
    margin-right: 30px;
} */
/* main .design2 .container a img:nth-child(1) {
    width: 250px;
    height: 622px;
    object-fit:scale-down;
} */
/* main .design2 .container a:nth-child(1) {
    background: url(../images/book_prototype.jpg) no-repeat;
    background-size:cover;
}
main .design2 .container a:nth-child(2) {
    background: url(../images/detail_01.jpg) no-repeat;
    background-size: cover;
}
main .design2 .container a:nth-child(3) {
    background: url(../images/detail_02.jpg) no-repeat;
    background-size: cover;
}
main .design2 .container a:nth-child(4) {
    background: url(../images/landing_001.png) no-repeat;
    background-size: cover;
}
main .design2 .container a:nth-child(5) {
    background: #d9d9d9;
    margin-right: 0;
    text-align: center;
    padding-top: 300px
} */
/* end */
main #end {
    background: url(../images/end.png);
    width: 100%;
}
main #end .top_btn {}
main #end .top_btn img {}